.overlay {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--white);
  padding: 0.2rem 1rem;
  position: relative;
  bottom: -1px;
}

.overlay p {
  color: rgb(7, 7, 7);
}

.leaflet-container {
  height: 50vh;
  width: 100%;
  border: 2px solid;
  position: relative;
  /* filter: hue-rotate(160deg); */
}
